<body>
  <h1>Books</h1>
  <table>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </tr>
    <% @books.each do |book| %>
    <tr>
      <td>
        <%= book.title %>
      </td>
      <td>
        <%= book.body %>
      </td>
      <td>
        <%= link_to "Show", book_path(book) %>
        <%= link_to "Edit", edit_book_path(book) %>
        <%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "Are you sure?"%>
      </td>
    </tr>
    <% end %>
  </table>


  <h2>New book</h2>

  <%= render 'books/error', book: @book %>

  <div class="form-with-box">
    <%= form_with model:@book, local:true do |f| %>

    <%= f.label :Title %>
    <%= f.text_field :title, :class => "form-with"%>

    <%= f.label :body %>
    <%= f.text_area :body, :class => "form-with" %>

    <%= f.submit 'Create Book', :class => "form-with" %>

    <% end %>
  </div>
</body>

